#entire-page-col{
  background-color: rgba(230,230,230,0.40);
}

#date-row{
  padding-top: 20px;
  background-color: white;
  height: 6rem;
  border-bottom: 1px solid #BFBFBF;
}

.all-day-event{
  display: block;
  height: 4rem;
}

#am-pm-col{

}

#am-text-div-row{
  height: 24.6rem;
  background-color: rgba(245,129,180,0.1);
}
#am-text-div{
  padding: 15px;
  font-size: 3rem;
  color: #ED1E79;
}
#pm-text-div-row{
  border-top: 1px solid #88C7F6;
  height: 72rem;
  background-color: rgba(238,254,254,0.80);
}
#pm-text-div{
  padding: 15px;
  font-size: 3rem;
  color: #3FA9F5;
}

#timed-event-main-row{
  border-top: 1px solid #EB3F8B;
  margin-top: 4px;
}

#pm-first-event-row{
  border-top: 1px solid #88C7F6;
}

.am-event-row{
  background-color: rgba(245,129,180,0.1);
}

.pm-event-row{
  background-color: rgba(238,254,254,0.80);
}

.hour-border{
  border-top: 1px #C5C5C5 solid;
}
.half-hour-border{
  border-top: 1px #C5C5C5 solid;
}
.half-hour-light-border{
  border-top: 1px rgba(210,209,209,0.87) solid;
}

.time-marker-div{
  padding: 2px 0 0 0;
}

.hour-div{
  font-size: 1.6rem;
  font-weight: bold;
}
.half-hour-div{
  color: #888787;
}
.event-detail-row{
  height: 4rem;
}

.event-detail-col{
  /*position: absolute;*/
  /*display: inline;*/
  /*background-color: #F58383;*/
  background-color: white;
  height: inherit;
  background-clip: content-box;
}

.event-detail-col-row{
  height: inherit;
}

.topRowClass{
  /*background-color: #CCCCEC;*/
  background-color: white;
  background-clip: content-box;
}
.paddingClass{
  padding: 8px 0 0 11px;
}
.borderClass{
  border-left: 8px solid #00BF00;
  height: inherit;
}
.col-wrapping-row{
  margin-top: 4px;
  margin-bottom: 2px;
}